/* ABOUT -------------------------- */

.about {
    padding: 2rem 3rem;
    margin-bottom: 4rem;
    display: flex;
    text-align: left;
}

.title::first-letter {
    color: #003466;
}
.title {
    color:  $red-vibrato;

    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;

    padding-bottom: 2rem;
    padding: 1rem 5rem;

    text-align: left;
}

.presentation {
    color: #003466;

    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;

    padding-left: 3rem;
    padding-right: 3rem;

}

em {
    color:$red-vibrato ;
    font-weight: $semi;
}

/* ILLUSTRATIONS -------------------------- */

.profile {
    width: 50%;
}

li img {
    width: 54px;
    height: 54px;
    fill: #003466;
}

.aknowledgment {
    width: 40%;
}



/* RESPONSIVE WEBDESIGN */
@include i5SE {
    .about {
        display: flex;
        flex-direction: column-reverse;
        padding: 2rem 1rem;
    }

    .title {
        padding: 1rem 3rem;

    }

    .presentation {
        padding-right: 2rem;
        padding-left: 2rem;

    }

    /* ILLUSTRATIONS -------------------------- */

    .profile {
        width: 80%;
        margin-top: 3rem;
    }
  }
  
@include smallSmart {
    .about {
        display: flex;
        flex-direction: column-reverse;
        padding: 2rem 1rem;
    }

    .title {
        padding: 1rem 3rem;

    } 

    /* ILLUSTRATIONS -------------------------- */

    .profile {
        width: 80%;
        margin-top: 3rem;
    }
}
  
@include smartphones {
    .about {
        display: flex;
        flex-direction: column-reverse;
        padding: 2rem 1rem;
    }

    .title {
        padding: 1rem 3rem;

    }

    /* ILLUSTRATIONS -------------------------- */

    .profile {
        width: 80%;
        margin-top: 3rem;
    }

    .aknowledgment {
        margin-top: 4rem;
        width: 100%;
    } 
}
  
@include tablets {
    /* ILLUSTRATIONS -------------------------- */

    li img {
        width: 44px;
        height: 44px;
        fill: #003466;
    }

    .aknowledgment {
        display: none;
    }
}
  
@include desktop {
    /* ILLUSTRATIONS -------------------------- */

    li img {
        width: 36px;
        height: 36px;
    }

    .aknowledgment {
        display: none;
    }
}