/* FOOTER -------------------------- */
footer {
    margin-left: 371px;
    display: flex;
    justify-content: center;

    padding: 3rem;
}
.copyrightFooter {
    color: $deep-blue;

    font-size: 0.7rem;
    font-weight: $light;
    letter-spacing: $standard;
    margin-left: 1rem;

}

/* RESPONSIVE WEBDESIGN */
@include i5SE {
    footer {
        margin-left: 0;
    }

    .copyrightFooter {
        margin-left: 0;
        text-align: center;
    }
}

@include smallSmart {
    footer {
        margin-left: 0;
    }

    .copyrightFooter {
        margin-left: 0;
        text-align: center;
    }  
}

@include smartphones {
    footer {
        margin-left: 0;
    }

    .copyrightFooter {
        margin-left: 0;
        text-align: center;
    }  
}

@include tablets {
    footer {
        margin-left: 0;
    } 
}

@include desktop {

}