/* FORMATION -------------------------- */

.formation {
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chronologie {
    height: 720px;
    width: 8px;
    background-color: $deep-blue;
    border-radius: 10px;
    margin-left: 3rem;
}

.dot:first-child {
    margin-top: 8rem;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $deep-blue;
    margin: 13rem  -0.4rem;
    position: relative;
}



.block {
    width: 430px;
    height: 190px;
    background-color: $deep-blue;
    display: flex;
    padding:1.5rem;
    
    position: absolute;
    top: -90px;
    left: 110px;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 40px solid $deep-blue;
    border-bottom: 20px solid transparent;
    
    position: absolute;
    top: 60px;
    left: -40px;
}


.logoFormation{
    height: 45px;
    margin-right: 2rem;
}

.details {
    text-align: left;
}

.formationTitle {
    color: $white;

    font-size: 0.9rem;
    font-weight: $semi;
    line-height: 1.3rem;

}

.formationDescription {
    color: $white;

    font-size: 0.8rem;
    font-weight: $light;
    line-height: 1.3rem;
}


.formationSuite  {
    margin-bottom: 7rem;
}

.formationSuite p {
    color: #626060;

    font-size: 0.9rem;
    font-weight: $light;
    line-height: 1.3rem;

    padding: 1rem 16rem;

    text-align: left;
}

.formationSuite span {
    color: #626060;

    font-size: 1rem;
    font-weight: $semi;
    line-height: 1.3rem;
}

/* RESPONSIVE WEBDESIGN */
@include i5SE {
    .formation {
        padding: 1rem 3rem;
    }

    .chronologie {
        height: 855px;
        margin-left: 0;
    }

    .dot:first-child {
        margin-top: 5rem;
    }

    .dot {
        margin: 21rem -0.4rem;
    }

    .triangle {
        border-right: 30px solid $deep-blue;
        left: -15px;
    }



    .block {
        display: block;
        width: 220px;
        height: 320px;
        left: 38px;
    }

    .logoFormation{
        margin-bottom: 1rem;
    }

    .formationTitle {
        font-size: 0.8rem;
        font-weight: $semi;
        line-height: 1.3rem;
    }
    
    .formationDescription {
        font-size: 0.7rem;
        font-weight: $light;
        line-height: 1.3rem;
    }

    .formationSuite  {
        margin-top: 7rem ;
        margin-bottom: 5rem;
    }

    .formationSuite p {  
        font-size: 0.7rem;
        padding: 5rem 3rem;
    }
}

@include smallSmart {
    .formation {
        padding: 1rem 3rem;
    }

    .chronologie {
        height: 805px;
        margin-left: 0;
    }

    .dot:first-child {
        margin-top: 5rem;
    }

    .dot {
        margin: 18rem -0.4rem;
    }

    .block {
        display: block;
        width: 225px;
        height: 285px;
        left: 75px;
    }

    .logoFormation{
        margin-bottom: 1rem;
    }

    .formationTitle {
        font-size: 0.8rem;
        font-weight: $semi;
        line-height: 1.3rem;
    }
    
    .formationDescription {
        font-size: 0.7rem;
        font-weight: $light;
        line-height: 1.3rem;
    }

    .formationSuite  {
        margin-top: 7rem ;
        margin-bottom: 5rem;
    }

    .formationSuite p {  
        font-size: 0.7rem;
        padding: 1rem 3rem;
    } 
}

@include smartphones {
    .formation {
        display: block;
        padding: 1rem 3rem;
    }

    .chronologie {
        height: 805px;
        margin-left: 0;
    }

    .dot:first-child {
        margin-top: 5rem;
    }

    .dot {
        margin: 18rem -0.4rem;
    }

    .block {
        display: block;
        width: 225px;
        height: 285px;
        left: 75px;
    }

    .logoFormation{
        margin-bottom: 1rem;
    }

    .formationTitle {
        font-size: 0.8rem;
        font-weight: $semi;
        line-height: 1.3rem;
    }
    
    .formationDescription {
        font-size: 0.7rem;
        font-weight: $light;
        line-height: 1.3rem;
    }

    .formationSuite  {
        margin-top: 3rem ;
        margin-bottom: 5rem;
    }

    .formationSuite p {  
        font-size: 0.7rem;
        padding: 1rem 3rem;
    }
}

@include tablets {
    .block {
        width: 400px;
        height: 190px;
    }

    .formationTitle {
        font-size: 0.8rem;
    }

    .formationDescription {
        font-size: 0.7rem;
    }

    .formationSuite {
        width: 125%;
    }
}

@include desktop {

}