/* HEADER LATERAL -- LOGO + NAV + COPYRIGHT */
header {
    height: 100vh;
    width: 371px;
    background-color: $deep-blue;
    border-right: 3px solid $red-vibrato;
    padding: 3rem;
    position: fixed;
}

.logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 3rem;
    cursor: pointer;
}

.logoPortfolio {
    width: 90%;
    padding: 0.7rem 1rem 1.2rem 1rem;
    background-color: $red-vibrato;
    color: $white;

    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logoName {
    width: 75%;
    height: 40%;
    padding: 0.3rem;
    background-color: $white;
    color: $deep-blue;

    font-size: 0.7rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: -15%;
}

.separator {
    height: 1px;
    width: 75%;
    background-color: $white;
    margin: auto;
    margin-bottom: 3rem;
}

.navigation {
    padding: 0 1rem;
}

ul li {
    padding-bottom: 2rem;
    text-align: left;
}

.navItem:first-child {
    color: $red-vibrato;
}


.navItem {
    color: $white;

    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 1rem;
}

.copyrightName {
    color: $white;

    font-size: 0.7rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 1rem;

    position: absolute;
    bottom: 3%;
}
