.App {
  text-align: center;
}

main {
  margin-left: 371px;
}

/* RESPONSIVE WEBDESIGN */
@include i5SE {
  main {
    margin: 0 auto;
  }
}

@include smallSmart {
  main {
    margin: 0 auto;
  }  
}

@include smartphones {
  main {
    margin: 0 auto;
  }  
}

@include tablets {
  main {
    margin: 0 auto;
  }  
}

@include desktop {
  
}